:root{
    --highlight-color: #D9B879;
    --primary-color: #123D35;
    --secondary-color: #789B91;
    --text-color: #26312E;
    --background-color: #F7F3EA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

main{
    flex: 1;
    text-align: left;
    font-size: 1.2rem;;
}

.header{
    background-color: var(--primary-color);
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 0.8rem;
    color: var(--highlight-color);
    font-weight: bold;
}

.header_logo{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.menu {
   display: flex;
   gap: 12px;;
   
}

.one{

    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 8px;
}

.one:hover{
    background-color: var(--primary-color);
    color: var(--highlight-color);
    transition: background-color 0.2s ease;
}

.intro,
.services,
.about,
.footer {
  padding: 40px 5%;
}

.intro_text {
  max-width: 700px;
}

.intro h1 {
  margin-bottom: 16px;
  font-size: 2.5rem;
}


.intro_text{
    font-size: 1.2rem;
    padding: 1rem;
    text-align: left;
    color: var(--text-color);
}

.btn {
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 0.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
}

.services {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: left;
    color: var(--text-color);
}

.lazer {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: left;
    color: rgb(68, 66, 66);
}

.lazer_text{
    font-size: 1.2rem;
    padding: 1rem;
    text-align: left;
    color: rgb(68, 66, 66);
}